<div class="container-fluid">
  <div class="row justify-content-center text-white">
    <div class="card">
      <img class="card-img-top" src="assets/husky.jpg" alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          The dog is a pet animal. A dog has sharp teeth so that it can eat
          flesh very easily, it has four legs, two ears, two eyes, a tail, a
          mouth, and a nose. It is a very clever animal and is very useful in
          catching thieves. It runs very fast, barks loudly and attacks the
          strangers.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/Dog_1.jpg" alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          A person can learn a lot from a dog, even a loopy one like ours.
          Marley taught me about living each day with unbridled exuberance and
          joy, about seizing the moment and following your heart. He taught me
          to appreciate the simple things-a walk in the woods, a fresh snowfall,
          a nap in a shaft of winter sunlight. And as he grew old and achy, he
          taught me about optimism in the face of adversity. Mostly, he taught
          me about friendship and selflessness and, above all else, unwavering
          loyalty.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/Dog_3.png" alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          A dog reflects the family life. Whoever saw a frisky dog in a gloomy
          family, or a sad dog in a happy one? Snarling people have snarling
          dogs, dangerous people have dangerous ones.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/vector.jpg" alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Over the years I've come to appreciate how animals enter our lives
          prepared to teach and far from being burdened by an inability to speak
          they have many different ways to communicate. It is up to us to listen
          more than hear, to look into more than past.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/beagle.jpg" alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Coraline opened the box of chocolates. The dog looked at them
          longingly. "Would you like one?" she asked the little dog. "Yes,
          please," whispered the dog. "Only not toffee ones. They make me
          drool." "I thought chocolates weren't very good for dogs," she said,
          remembering something Miss Forcible had once told her. "Maybe where
          you come from," whispered the little dog. "Here, it's all we eat.
        </p>
      </div>
    </div>
  </div>
</div>
