.container {
   padding: 150px;
   height: 100%;
 
 }
 
 .btn {
   margin-top: 15px;
   margin-bottom: 20px;
   width: 50%; 
 }
 
 .box {
   height: auto;
   
 }
 
 .form-group {
   padding-top: 8px;
 }
 h1{
  color:darkgrey;
  font-size: 30px;
 }