<div class="container-fluid">
  <div class="row text-white">
    <div class="col-md-8 mx-auto">
      <h2 class="text-center heading" style="color: dimgray; font-size: 30px">
        Dog Events and Stories
      </h2>

      <h3 style="color: dimgray">Upcoming Events</h3>
      <div class="card">
        <div class="card-body">
          <p>
            Organizing a dog show can be a rewarding and exciting experience for
            both participants and spectators. It requires careful planning and
            attention to detail to ensure a successful event. Here's a
            step-by-step guide to help you organize a dog show:
          </p>
          <ul>
            <li>
              Determine the Purpose and Format:Decide on the purpose of the dog
              show. Is it a breed-specific show, a fun event, or a
              competition?Choose the format: conformation show (judging dogs
              against breed standards), obedience trial, agility competition, or
              a combination.
            </li>
            <li>
              Establish a Committee:Assemble a team of dedicated individuals who
              share your passion for dogs and have experience in event
              organization.Assign specific responsibilities to each committee
              member, such as registration, marketing, logistics, and judging.
            </li>
            <li>
              Set the Date, Time, and Venue:Select a date that doesn't clash
              with other major events and allows enough time for planning and
              promotion.Find a suitable venue with enough space for rings,
              seating, parking, and amenities like restrooms and refreshments.
            </li>
            <li>
              Obtain Permits and Insurance:Check with local authorities about
              any permits or licenses required to host the event.Consider
              liability insurance to protect against any unforeseen incidents
              during the dog show.
            </li>
            <li>
              Create Show Classes and Categories:Determine the classes based on
              breed, age, and skill levels, depending on the type of dog
              show.Establish categories such as Best in Show, Best of Breed,
              Best Puppy, or Best Junior Handler
            </li>

            <li>
              Invite Judges:Reach out to reputable and experienced judges who
              are knowledgeable about the breed(s) being showcased.Provide clear
              guidelines and expectations to the judges, including adherence to
              breed standards and judging criteri
            </li>
            <li>
              Develop a Registration Process:Set up an online registration
              system where participants can submit their entry forms, payment,
              and required documentation.Specify entry deadlines, fees, and any
              additional requirements, such as proof of vaccinations or
              pedigrees
            </li>
            <li>
              Promote the Event:Create a marketing plan to raise awareness about
              the dog show.Utilize social media platforms, local community
              boards, websites, and dog-related forums to spread the
              word.Consider reaching out to local media outlets for potential
              coverage
            </li>
            <li>
              Arrange Facilities and Equipment:Arrange for dog-friendly
              facilities, including rings, seating for participants and
              spectators, and secure areas for dogs to rest.Ensure you have the
              necessary equipment such as show leads, tables, PA systems, and
              scoreboards if applicable.
            </li>
            <li>
              Coordinate Logistics:Develop a schedule of events, including
              registration, judging times, and breaks.Assign volunteers to
              various tasks, such as ring stewards, parking attendants, and
              hospitality services.Plan for amenities like water stations,
              shade, and waste disposal areas for dogs
            </li>
            <li>
              Prepare for the Unexpected:Have contingency plans in place for
              inclement weather, medical emergencies, or other unforeseen
              circumstances.Consider having a veterinarian or first aid
              personnel on-site to address any health concerns.
            </li>
            <li>
              Ensure a Smooth Execution:On the day of the event, have a detailed
              checklist to ensure all necessary tasks are completed.Maintain
              clear communication channels with the committee, participants, and
              volunteers.Address any issues promptly and professionally.
            </li>
          </ul>
        </div>
      </div>

      <h3>Inspiring Stories</h3>
      <div class="card">
        <h1 style="color: dimgray">Pariah – The Story of a Street Dog</h1>
        <div class="card-body">
          <h5>
            Let me introduce myself. My name is Moti, but you may call me a
            street dog, a stray, a pariah dog, a dirty, filthy animal, whatever
            you want.
          </h5>
          <p>
            It doesn’t matter to me, not anymore. Because in the end, whatever
            you call me, I will remain what I am―a street dog, a pariah to you
            all
            <br />
            Want to have a peep into my daily life? Here’s my story for you.
          </p>
          <p>
            My day begins every morning around six o’clock, when I am kicked and
            shooed away by the street sweepers. Sometimes stones are thrown at
            me or a stick poked into my bony body, reminding me that night is
            over and day beckons.
          </p>
          <p>
            I shake myself and come out of my dreamy night and begin searching
            for something to eat. Usually, I manage to find some stale bread or
            roti, and if I’m lucky, a half eaten chicken or some mutton bones.
            But food never comes easily as I have to compete with many other
            neighbourhood dogs. Often, I get bitten and hurt in the process of
            grabbing a bite to eat… but that’s life, my friend, for us street
            dogs. We have to grab what we can before someone else takes it.
          </p>
          <p>
            Not all days are bad. Some days, if I am lucky, I come across a kind
            and gentle family who feed me milk and biscuits. Some even pat me on
            the head and say loving words while I thank them with a wagging tail
            and a full belly. But there are days, too, when I am shouted at,
            yelled at, stones thrown at me, when I am abused and chased by kids
            and I have to run for my life and hide in dank and filthy drains,
            all for the sake of a piece of bread.
          </p>
          <p>
            What amazes me is the amount of food people throw away, without a
            thought of feeding us. But I guess in the end it’s God’s way of
            providing us with food. Man’s anger or hatred towards us is
            something I have never been able to understand. While on the one
            hand, pedigree dogs―who are same as us―are given good food, water,
            milk, and so on, and are cared for, loved, hugged, and played with,
            and on the other, we are chased out of the street because the so
            called pedigree pets are on their way. What humans fail to see is
            that in the end we are all the same race, just different breeds.
          </p>
          <p>
            The most difficult and tough times are in winter when we shiver and
            cuddle up against each other for warmth while our well-placed
            brothers and sisters wear coats and are inside warm rooms, fully
            sated and with a warm bed and blanket. Summers, too, are not easy
            times. We have to hunt for water, and often we are forced to drink
            from dirty drains outside hotels and restaurants. We have to take
            shelter from the heat and the rain under cars, and this sometimes
            leads to us being crushed under the very vehicle that gave us
            shelter.
          </p>
          <p>
            All the while, our well-to-do friends are living in nice
            air-conditioned rooms, reclining in cool cars, or going for walks
            with nice shiny collars and leashes. If we try to come near to them,
            we are hit with sticks, kicked, and shooed away. It bewilders me.
            Are these people not so-called dog lovers? If they can shower so
            much love and affection on their upper-class pets, why not us? Why
            be mean to us? We are not asking to be taken into their homes, but
            can’t we just lie down and sleep outside their homes and be given
            one meal a day? Is that too much to ask? How can man be so harsh in
            differentiating between two creatures of the same species?
          </p>
          <p>
            Who is there to take care of us when we fall sick or are too weak to
            walk and find food for ourselves? When we are too old and frail to
            move? No one. The harsh reality hits me: Me and my friends are all
            alone in this cruel, selfish world and we have to fend for ourselves
            or just lie and wait for a speeding car, truck, or bus to crush us
            and take away what little life there was in us.
          </p>
          <p>
            But in the end, I must admit, my life on the street toughens me and
            makes me ready to face all hardships. It makes me a fighter and also
            someone who can share with my fellow beings. The joy of running
            carefree with my friends, tugging at them, playing with them,
            barking and chasing cars, and so on, makes my dull, monotonous life
            worth living.
          </p>
          <p>
            I don’t mind being reborn as a dog in my next life, but I do ask
            that God be just a little bit partial to me and give me a better
            life. Can I have the taste of both lives, one outside on the streets
            and one inside where I am surrounded with warmth, love and
            happiness? Well it seems a dream for many of us, but you never know.
            The grass is always greener on the other side. <br /><br />
          </p>
          <h5>
            Lastly, I want to let you in on a secret. For me, the word PARIAH
            stands for :
            <p>P – Pretty and Perfect</p>
            <p>A – Adorable</p>
            <p>R – Reliable</p>
            <p>I – Intelligent</p>
            <p>A – Alert and Lovable</p>
            <p>H – Humble</p>
          </h5>
          <p>
            Pariah doesn’t have to be a derogatory term, it can be a
            compliment―just as pariah dogs don’t have to be your enemies. We can
            be your best friends, as dogs were ever meant to be to man. It is up
            to you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
