/* header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav h2 {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.nav li {
  margin-right: 20px;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: orangered;
  padding: 10px 20px;
  z-index: 1000;
}
.nav-link {
  color: white;
} */

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav h2 {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.nav li {
  margin-right: 20px;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: orangered;
  padding: 10px 20px;
  z-index: 1000;
}

.nav-link {
  color: white;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .sticky-header {
    padding: 10px;
  }

  
  body {
    margin-bottom: 100px; /* Adjust this value based on the height of your header */
  }
}
