<header class="sticky-header">
  <ul class="nav">
    <h2>Dog Adda!</h2>
    <li class="nav-item active nav_li">
      <a class="nav-link" routerLink="/home"
        >Home <span class="sr-only"></span
      ></a>
    </li>
    <li class="nav-item nav_li">
      <a class="nav-link" routerLink="/about">About</a>
    </li>

    <li class="nav-item nav_li">
      <a class="nav-link" routerLink="/event">Event</a>
    </li>
    <li class="nav-item nav_li">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li></li>
  </ul>
</header>
