
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-background: #f0f0f0;
    --button-text: #000000;
  }

  .dark-theme {
    --background-color: #333333;
    --text-color: #ffffff;
    --button-background: #666666;
    --button-text: #ffffff;
  }
 
body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  button {
    background-color: var(--button-background);
    color: var(--button-text);
  }
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
